.react-autosuggest__container {
    position: relative;
    color: var(--font-color)
}
  
.react-autosuggest__input--focused {
    outline: none;
}
  
.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
  
.react-autosuggest__suggestions-container {
    display: none;
}
  
.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    width: 100%;
    border: 1px solid #aaa;
    background-color: var(--transparent-main-highlight-color);
    z-index: 2;
}
  
.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}
  
.react-autosuggest__suggestion--highlighted {
    background-color: var(--main-hover-color);
}
  