@import url("sidebar.css");
@import url("group.css");
@import url("tree.css");
@import url("wallpaper.css");
@import url("invite.css");

@font-face {
    font-family: "Calisto MT";
    src: url("../assets/fonts/CALIST.TTF");
}
@font-face {
    font-family: "Calisto MT";
    src: url("../assets/fonts/CALISTB.TTF");
    font-weight: bold;
}
@font-face {
    font-family: "Calisto MT";
    src: url("../assets/fonts/CALISTI.TTF");
    font-style: italic;
}

:root {
    --main-bg-color: #0d1a23;
    --transparent-main-highlight-color: #213c3eF0;
    --main-highlight-color: #213c1f;
    --main-hover-color: #2B5354;
    --font-color: #f0e6d2;
}

.hover:hover {
    background-color: var(--main-hover-color);
}

.background {
    background-image: url("../assets/background.png");
    background-size: cover;
}
.hidden {
    display: none
}

.full_width_height {
    height: 100%;
    width: 100%;
}

.no_padding {
    padding: 0px;
}

.no_pad_right {
    padding-right: 0px;
}

.no_margin_left {
    margin-left: 0px;
}

.font {
    color: #f0e6d2;
    font-family: "Calisto MT";
    font-size: 14pt;
}

a {
    color: #f0e6d2;
}

.margin {
    margin: 10px 10px 10px 10px;
}

.no_margin {
    margin: 0px;
}