.wallpaper_background {
    background-image: url("../assets/background.png");
    background-size: cover;
}

.row-one-third {
    height: 33.333%;
}

.wallpaper-padding {
    padding: 15px;
    padding-left:60px;
    padding-right:60px;
}

.wallpaper-centerd {
    text-align: center;
    vertical-align: bottom;
}

.wallpaper-10 {
    width: 10%;
}

.wallpaper-80 {
    width: 80%;
}

.wallpaper-100 {
    height: 100%;
}

.wallpaper-center-text {
    height: 100%;
    text-align: center;
    display: table;
}

.wallpaper-center-text > span {
    vertical-align:middle;
    display: table-cell;
}