.achievement_overview_component {
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--font-color);
}

.achievement_overview_second_border {
    background-color: var(--main-highlight-color);
    position: absolute;
    left: 16.67vw;
    height: 100vh;
    top: 0;
    width: 55.55vw;
    z-index: 200;
    padding-right: 10px;
    border-right: 1px solid var(--font-color);
}

.tooltip_bg_arrow::before {
    border-right-color: var(--font-color) !important;
    border-left-color: var(--font-color) !important;
}

.tooltip_bg {
    background-color: var(--main-hover-color);
    border: 1px solid var(--font-color);
}

.overview_font_title {
    font-size: 14pt;
    /* font-family: "Calisto MT";
    src: url("../assets/fonts/CALISTB.TTF"); */
}
.overview_font {
    /* font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; */
    font-size: 13pt;
}

.achievement_overview_title {
    text-align: left;
    padding-left: 20px;
}

.overview_table {
    height: calc(100% - 50px);
    overflow-y: auto;
}
.achievement_overview_simple_title {
    text-align: left;
}

.achievement_overview_tite_row {
    height: 75px;
    padding: 10px;
}

.overview-category-entry .card .card-body {
    height: 100%;
    padding: 0.75rem;
}

.achievement_overview_body {
    height: calc(100% - 75px);
    padding: 30px;
}

.category_title {
    vertical-align: middle;
}

.overview_body_row {
    padding-bottom: 30px;
}

.overview_body_row:last-of-type {
    padding-bottom: 0px;
}


.overview-category-entry {
    margin-left: 30px;
    padding: 0px;
    height: 100%;
}

.overview-category-entry:first-of-type {
    margin-left: 0px;
}

.overview-category-entry > div {
    border-color: var(--font-color);
    background-color: var(--main-highlight-color);
}

.overview-category-entry .card {
    height: 100%;
}