.achievement_champ_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 30px;
    height: auto;
    border-radius: 50%
}

.achievement_border_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 40px;
    height: auto;
}

.achievement-box-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.achievement-box {
    margin: 0px auto;
    text-align: center;
    width: 90%;
    border: 1px solid var(--font-color);
    background-color: transparent;
}