.sidebar {
    background-image: url("../assets/sidebar_bg.png");
    background-size: cover;
}

.title_bar {
    height: 15%;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.sidebar_menu_size {
    height: 30%;
    padding-top: 20px;
}

.sidebar_achievementBox {
    height: 48%;
}
.sidebar_footer {
    height:7%;
}

.connection_icon_frame {
    height:100%;
    text-align: center;
}

.connection_icon {
    display : block;
    margin : auto;
}

.title {
    font-size: 22pt;
    height:100%;
    font-weight: bold;
    text-align: center;
    display: table;
}

.gray_image {
    filter: grayscale(100%);
}

.title_cell {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.sidebar_menu {
    width: 100%;
    margin: 15px
}

.sidebar_menu a {
    display: block;
    padding: 12px;
    text-decoration: none;
}
  
.sidebar_menu a:hover {
    background-color: var(--main-hover-color);
    color: var(--font-color);
    border-left: 5px #0793aa solid !important;
}
  

.sidebar_active_link {
    background-color: #213c3e;
    border-left: 5px #0793aa solid !important;
    color: white;
}

.sidebar_indented {
    padding-left: 15px;
}

.sidebar_default_link {
    border-left: 5px transparent solid;
}

.badge_margin {
    margin-left: 15px;
}