.tree_champ_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -54%);
    z-index: 0;
    width: 40px;
    height: auto;
    border-radius: 50%
}

.tree_border_img {
    position: relative;
    width: 52px;
    z-index: 100;
    height: auto;
}

.tree_border_img_gray {
    filter: grayscale(100%);
}

.tree_component {
    padding-top: 20px;
}

.tooltip_desc {
    font-size: 12pt;
}